.uppertitle {
    color: var(--color-text-dark);

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    &--mb {
        margin-bottom: 30px;

        @include respond-to('desktop') {
            margin-bottom: 50px;
        }
    }

    @include respond-to('desktop') {
        font-size: 36px;
        line-height: 1.17;
    }
}